nrex-test*
build/

# C++ objects and libs
# =========================
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# CMake
# =========================
CMakeLists.txt.*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
*.cbp

# Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*
